.iconicon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: relative;
    
}

.iconcard {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.iconics {
    width: 100px;
    height: 100px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(359deg) brightness(104%) contrast(102%);
    
}
  p{
    font-size: 15px;
    font-weight: 100;
    line-height: 1.6;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 80%;
  }